.candidates-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 50px;
}

.navigation-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: auto;
}
